body {
    font-family: 'Times New Roman', Times serif;
    margin: 0;
    padding: 0;
    background-color: #f5faf7;
}

header {
    background-color: #f3abed;
    color: rgb(4, 16, 20);
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #0a0404;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #f393c3;
    color: rgb(7, 2, 2);
    position: fixed;
    width: 100%;
    bottom: 0;
}
