body {
    font-family: 'Times New Roman', Times serif;
    margin: 0;
    padding: 0;
    background-color: #87f0aa;
}

header {
    background-color: #333;
    color: rgb(61, 186, 235);
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}
